// Font, Fontsize och liknande

html {
    font-size: 10px; // Base fontsize blir 10px, => 1rem = 10px
}

h1 {

}

h2 {
    font-size: 3.4rem;
}

h3{
    font-size: 2.2rem;
}

a {
    color: black;
    text-decoration: none;
}