// Import av alla scss filer

@import 'Base/variables';
@import 'Base/typography';

@import 'Components/buttons';
@import 'Components/modal';

@import 'Layout/navbar';
@import 'Layout/header';
@import 'Layout/footer';

@import 'pages/home';
@import 'pages/info';